include README.md
include CHANGES.md
include tox.ini
include requirements/*.txt
include apiflask/py.typed
graft apiflask/templates/apiflask
graft apiflask/static
graft examples
graft tests
prune site
global-exclude *.pyc
