APIFlask==2.4.0
apispec==6.8.4
backports-datetime-fromisoformat==2.0.3
blinker==1.9.0
click==8.1.8
Deprecated==1.2.18
Flask==3.1.2
Flask-HTTPAuth==4.8.0
flask-marshmallow==1.3.0
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
marshmallow==4.0.1
opentelemetry-api==1.30.0
opentelemetry-instrumentation==0.51b0
opentelemetry-instrumentation-flask==0.51b0
opentelemetry-instrumentation-wsgi==0.51b0
opentelemetry-sdk==1.30.0
opentelemetry-semantic-conventions==0.51b0
opentelemetry-util-http==0.51b0
packaging==25.0
typing_extensions==4.15.0
webargs==8.7.0
Werkzeug==3.1.3
wrapt==1.17.3
zipp==3.23.0
