name: Tests
on:
  push:
    branches:
      - main
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - '*.md'
  pull_request:
    branches:
      - main
      - 'v*'
    paths-ignore:
      - 'docs/**'
      - '*.md'
jobs:
  tests:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - {name: Linux, python: '3.10', os: ubuntu-latest, tox: py310}
          - {name: Windows, python: '3.10', os: windows-latest, tox: py310}
          - {name: Mac, python: '3.10', os: macos-latest, tox: py310}
          - {name: '3.9', python: '3.9', os: ubuntu-latest, tox: py39}
          - {name: '3.8', python: '3.8', os: ubuntu-latest, tox: py38}
          - {name: '3.7', python: '3.7', os: ubuntu-latest, tox: py37}
          - {name: 'PyPy', python: 'pypy-3.7', os: ubuntu-latest, tox: pypy37}
          - {name: Flask1, python: '3.8', os: ubuntu-latest, tox: flask1}
          - {name: Style, python: '3.10', os: ubuntu-latest, tox: style}
          - {name: Docs, python: '3.10', os: ubuntu-latest, tox: docs}
          - {name: Typing, python: '3.10', os: ubuntu-latest, tox: typing}
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
          cache: 'pip'
          cache-dependency-path: 'requirements/*.txt'
      - name: update pip
        run: |
          pip install -U wheel
          pip install -U setuptools
          python -m pip install -U pip
      - name: cache mypy
        uses: actions/cache@v3.0.5
        with:
          path: ./.mypy_cache
          key: mypy|${{ matrix.python }}|${{ hashFiles('setup.cfg') }}
        if: matrix.tox == 'typing'
      - run: pip install tox
      - run: tox -e ${{ matrix.tox }}
      - name: collect coverage
        run: |
          pip install codecov
          codecov
        if: matrix.name == 'Linux'
